// Place all the styles related to the Stores controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  box-sizing: border-box;
}
body {
  text-align: center;
}

.row {
  margin-left: auto;
  margin-right: auto;
  display: flex !important;
  justify-content: center !important;
  text-align: left;
}
